@import url('frmlogin.css');

/** form algemeen **/

fieldset{
	border: 0px;
	margin: 0;
	padding: 0;
}

form dl{
	float: left;
	clear: both;
	margin-top: 0px;
}

form dt,form dd{
	height: 1.5em;
	height: auto;
	float: left;	
	margin-bottom: 0.5em;
}

form dt{
	clear: left;
	width: 150px;
	
}

form dd{
	margin-left: 0;
	width: auto;
}



form ul.errors{
	margin: 0;
	float: right;
}

form ul.errors li{
	list-style: none;
	margin: none;
	background-color: #FE7503;
	color: #fff;
	padding: 2px;
	margin-top: 2px;
}

.dt-hidden,.dd-hidden{
	display: none;
}

dd.dd-singlerow dt{	/* verberg alle dt elementen in de fieldset */
	display: none;
}

dd.dd-singlerow dd{	/* verberg alle dt elementen in de fieldset */
	width: auto;
	margin-right: 10px;
}

#frmindex{
	clear: both;
	margin-bottom: 3em;
}

.adminformheader{
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	height: 30px;
	padding-top: 10px;
	width:900px;
}

.adminform,.adminformheader{
	
	padding-left: 10px;	
	float: left;
}

.adminform{	
	margin-top: 10px;
	padding-top: 10px;
	width:98%;
	padding-top: 10px;
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	background-color:#FFFFFF;
	border-color:#DBDBDB;
	border-style:solid;
	border-width:1px;
}

.adminform .dt-singlerow{
	display: none;
}

.adminform .dd-singlerow{
	float: right;
}

.adminform #actions-element{
	width: 100%;
}

.adminform #fields-label{
	display: none;
}

.adminform #fields-element{
	width: 100%;
}

.smallform{
	width	:auto;
	height	: 30px;
	display	: block;
}

.selectedrow{
	background-color: #FF6D06 !important;
	color: #fff;
}

.left{
	float: left;
}

.right{
	float: right;
}

.cke_skin_kama table.cke_editor{
	width: 100%;
	width: 880px;
}

.cke_contents{
	height: 500px;
}
