@charset "utf-8";
/* CSS Document */

body{
	font-family: Arial, Helvetica, sans-serif;
}

#mainnav,
#frmdatefilter,
#footer,br,hr{
	display: none;
}

table.default{
	width	: 90%;
	margin	: 1% 5%;
	border	: 1px solid #000;
	border-collapse: collapse;
}


table.default td, 
table.default th{
	border-top		: 1px solid #000;
	border-bottom	: 1px solid #000;
	border-left		: 1px solid #000;
	border-right	: 1px solid #000;
	margin			: 0;
	padding			: 2px 0.5em;
}

table.default td.num, 
table.default th.num {
    text-align: right;
}